<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Langrensha Setting</title>
    <link rel="stylesheet" href="/stylesheets/setting.css">
</head>
<body>
    <div id="langrensha-setting">
        <form action="/setting" method="post">
            <div><input type="text" name="langren" placeholder="狼人"></div>
            <div><input type="text" name="yuyanjia" placeholder="预言家"></div>
            <div><input type="text" name="pingming" placeholder="平民"></div>
            <div><input type="text" name="nvwu" placeholder="女巫"></div>
            <div><input type="text" name="lieren" placeholder="猎人"></div>
            <div><input type="text" name="shouwei" placeholder="守卫"></div>
            <div><input type="text" name="langwang" placeholder="狼王"></div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
