<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <hr>
    <form action="/test" method="post" enctype="multipart/form-data">
        username: <input type="text" name="username"><br>
        pic: <input type="file" name="file"><br>
        <hr>
        <button type="submit">Submit</button>
    </form>
</body>
</html>